html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h2 {
  font-weight: 400;
}

.header {
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 0 20%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23003366' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%230070f3' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2300376e' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%230071f5' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23003b76' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%230072f8' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23003f7e' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%230074fa' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23004386' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%230075fd' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2300478e' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%230076ff' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

}

.mountains {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
}

section {
  padding: 10% 0;
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -1 !important;
}

a {
  color: inherit;
  transition: 0.25s ease all;
  /* text-decoration: none; */
}

a:hover {
  color: orange;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  /* padding: 4rem 5%; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts {
  padding: 0 4%;
}


.title a {
  color: #1565c0;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: 500;
  text-align: left;
}


.description {
  line-height: 2;
  font-size: 1.15rem;
  font-weight: 300;
  white-space: pre-line;
  line-height: 0.8;
  letter-spacing: 0.2rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* max-width: 1200px; */
}

.projects {
  max-width: 1200px;
}

.inline {
  align-items: center;
  justify-content: center;
  line-height: 6px;
  padding: 0;
  margin: 0px 8%;
  display: flex;
  justify-content: space-between;
}

.linkbtn {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
}

.blogcard {
  height: 320px;
  width: 320px;
  margin: 1rem;
  max-width: 320px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: rgba(10, 10, 10, 0.75);
}

.card {
  height: 250px;
  width: 320px;
  max-width: 320px;
  margin: 1rem;
  background-color: black;
  opacity: 0.9;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  position: relative;
}

.linkbtn:hover,
.card:hover,
.card:focus,
.card:active {
  color: orange;
  border-color: orange;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.repo-lang {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}


/* Interests */
.interests {
  margin: 0 33%;
  /* border: 1px solid lightgrey;
  border-radius: 50px; */
  box-sizing: border-box;
  padding: 1px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}

.interestitem {
  margin: 5px;
  background-color: #0070f3;
  padding: 5px;
  border-radius: 6px;
  color: white;
}



.about {
  width: 100vw;
  /* background-image: linear-gradient(150deg, #003366 0%, #0070f3 100%); */
  background-repeat: no-repeat;
  background-size: cover;
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(14%2c 42%2c 71%2c 0.9)'%3e%3c/rect%3e%3cpath d='M0 25.28C11.05 -0.22 28.95 5.73 60.67 0C98.95 -6.91 100.34 0 140 0C210 0 210 0 280 0C350 0 350 0 420 0C490 0 490 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C910 0 910 0 980 0C1038.8 0 1039.53 -3.75 1097.6 0C1109.53 0.77 1108.92 9.03 1120 9.03C1129.78 9.03 1128.8 0.68 1139.31 0C1198.8 -3.84 1199.65 0 1260 0C1320.35 0 1322.16 -5.71 1380.69 0C1392.16 1.12 1390.66 13.66 1400 13.66C1408.31 13.66 1405.85 0.99 1416 0C1475.85 -5.84 1510.88 -32.88 1540 0C1572.88 37.12 1540 70 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 490 1566.25 516.25 1540 560C1524.25 586.25 1467.15 586.01 1456 560C1437.15 516.01 1497.54 472.61 1480 420C1469.54 388.61 1438.38 392 1400 392C1376.42 392 1375.48 402.81 1356.08 420C1305.48 464.85 1310.51 470.93 1260 516.08C1232.2 540.93 1233.4 549.35 1199.46 560C1163.4 571.31 1159.73 560 1120 560C1050 560 1050 560 980 560C933.34 560 933.19 562.15 886.67 560C863.19 558.92 862.81 553.54 840 553.54C832.92 553.54 834.11 559.67 826.88 560C764.11 562.9 763.44 560 700 560C656.81 560 654.48 568.86 613.62 560C584.48 553.68 588.34 529.64 560 529.64C514.86 529.64 514.11 549.71 466.67 560C444.11 564.89 443.34 560 420 560C350 560 350 560 280 560C220.85 560 210.83 575.9 161.69 560C140.83 553.25 151.39 514.71 140 514.71C128.33 514.71 137.13 553.02 115.56 560C67.13 575.67 26.13 591.65 0 560C-31.65 521.65 0 490 0 420C0 350 0 350 0 280C0 210 0 210 0 140C0 82.64 -19.29 69.78 0 25.28' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 252.78C509.62 252.78 451.11 266.96 451.11 280C451.11 292.97 509.09 304.81 560 304.81C576.1 304.81 585.13 292.7 585.13 280C585.13 266.68 576.63 252.78 560 252.78' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M280 388.33C248.26 388.33 216.67 403.77 216.67 420C216.67 436.44 248.25 453.67 280 453.67C312.36 453.67 344.88 436.44 344.88 420C344.88 403.77 312.36 388.33 280 388.33' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 73.89C41.34 73.89 76.02 95.25 122.05 140C146.02 163.3 131.59 210 140 210C148.35 210 150.94 175.48 155.56 140C164.6 70.48 132.79 38.85 167.32 0C195.01 -31.15 223.66 0 280 0C326.2 0 355.28 -27.81 372.4 0C398.36 42.19 366.3 69.99 366.15 140C366 209.99 395.6 222.9 371.8 280C352.53 326.24 331.09 324.63 280 346.67C215.19 374.63 200.42 351.87 140 380C121.67 388.53 131.37 400.05 122.5 420C91.37 490.05 104.02 509.69 60 560C42.77 579.69 9 581 0 560C-21 511 0 490 0 420C0 350 0 350 0 280C0 210 0 210 0 140C0 106.94 -19.69 73.89 0 73.89' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M480.34 140C472.42 79.36 499.52 59.41 533.33 0C539.35 -10.59 546.66 0 560 0C630 0 630 0 700 0C755 0 756.36 -5.75 810 0C826.36 1.75 823.58 13.96 840 15C908.58 19.34 912.47 -1.4 980 10.77C1052.47 23.84 1050.97 68.14 1120 65.48C1190.97 62.75 1193.63 -7.95 1260 0C1333.63 8.82 1332.25 99.02 1400 99.02C1460.25 99.02 1455.52 42.78 1516 0C1525.52 -6.73 1538.24 -10.24 1540 0C1550.24 59.76 1540 70 1540 140C1540 180.31 1549.9 183.13 1540 220.61C1531.41 253.13 1528.32 256.93 1503.02 280C1458.32 320.75 1451.82 314.6 1400 348.25C1344.03 384.6 1341.68 381.58 1287.45 420C1271.68 431.18 1275.43 435.75 1260 447.45C1191.71 499.24 1196.29 528.39 1120 546.98C1056.29 562.5 1050.63 527.6 980 515.67C910.63 503.95 906.66 488.43 840 499.69C775.41 510.6 779.55 533.27 717.5 560C709.55 563.43 708.75 560 700 560C694.05 560 693.33 562.71 688.09 560C623.33 526.45 624.7 522.53 560 487.47C495.54 452.53 429.77 454.4 429.77 420C429.77 385.22 499.81 391.19 560 349.11C599.93 321.19 630 315.37 630 280C630 242.9 597.58 239.32 560 204.17C522.75 169.32 485.75 181.44 480.34 140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980 245C960.99 245 945 261.99 945 280C945 299.14 960.78 319.3 980 319.3C1003.17 319.3 1029.78 298.96 1029.78 280C1029.78 261.81 1003.38 245 980 245' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M210.99 560C210.99 542.21 243.03 497.97 280 497.97C325.57 497.97 376.08 543.15 376.08 560C376.08 574.16 328.04 560 280 560C245.5 560 210.99 573.23 210.99 560' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 122.5C10.94 122.5 32.31 128.08 32.31 140C32.31 156.52 9.11 179.38 0 179.38C-7.04 179.38 0 159.69 0 140C0 131.25 -5.21 122.5 0 122.5' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M233.33 140C241.52 69.83 233.13 58.66 252.68 0C256.46 -11.34 266.34 0 280 0C291.2 0 300.18 -9.63 302.4 0C316.33 60.37 309.3 69.92 312.31 140C315.31 209.92 326.82 216.73 314.43 280C310.66 299.23 298.68 305 280 305C251.46 305 227.38 306.08 220 280C204.04 223.58 225.18 209.83 233.33 140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M540.69 140C540.69 122.79 547.21 101.38 560 101.38C576.18 101.38 598.62 124.63 598.62 140C598.62 151.72 578.15 155.56 560 155.56C549.19 155.56 540.69 149.88 540.69 140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 140C910 109.04 908.51 82.69 980 78.08C1048.51 73.66 1049.33 102.59 1120 121.94C1162.4 133.55 1199.2 110.56 1206.15 140C1217.86 189.59 1162.05 208.79 1157.33 280C1152.77 348.79 1199.48 360.87 1187.59 420C1180.82 453.66 1158.16 458.72 1120 465.58C1054.36 477.38 1049.94 462.26 980 457.33C909.94 452.39 908.73 457.71 840 445.85C800.55 439.04 797.44 440.33 763.64 420C727.44 398.24 722.31 396.85 700 361.67C677.92 326.85 674.87 320.06 674.87 280C674.87 251.22 677.44 243.13 700 224C760.01 173.13 770 182 840 140C840 140 840 140 840 140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980 190.31C931.28 190.31 890.31 233.86 890.31 280C890.31 329.05 930.74 380.7 980 380.7C1039.37 380.7 1107.56 328.58 1107.56 280C1107.56 233.39 1039.9 190.31 980 190.31' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1321.6 280C1321.6 252.55 1367.27 207.41 1400 207.41C1424.96 207.41 1436.98 248.57 1436.98 280C1436.98 297.11 1420.23 304.5 1400 304.5C1362.54 304.5 1321.6 301.1 1321.6 280' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M511.16 420C511.16 406.96 534.3 393.42 560 393.42C600.72 393.42 644 407 644 420C644 432.94 600.82 445.3 560 445.3C534.4 445.3 511.16 432.9 511.16 420' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 538.46C1.12 538.46 4.44 551.04 4.44 560C4.44 561.81 0.38 561.84 0 560C-1.84 551.07 -1.1 538.46 0 538.46' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M260.28 560C260.28 554.92 269.44 542.28 280 542.28C293.02 542.28 307.45 555.19 307.45 560C307.45 564.05 293.73 560 280 560C270.14 560 260.28 563.78 260.28 560' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.blog {
  width: 100vw;
  min-height: 80vh;
  /* background-image: linear-gradient(150deg, #003366e5 0%, #0070f3e6 100%);
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%); */


  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='600' preserveAspectRatio='none' viewBox='0 0 1440 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1114%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c197 C 96%2c238.2 288%2c416.8 480%2c403 C 672%2c389.2 768%2c141.6 960%2c128 C 1152%2c114.4 1344%2c293.6 1440%2c335L1440 600L0 600z' fill='rgba(0%2c 51%2c 102%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c574 C 96%2c507.2 288%2c266.4 480%2c240 C 672%2c213.6 768%2c442 960%2c442 C 1152%2c442 1344%2c280.4 1440%2c240L1440 600L0 600z' fill='rgba(0%2c 112%2c 243%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1114'%3e%3crect width='1440' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: top center;
  background-size: cover;
  background-position: top;
}

@media screen and (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .interests {
    margin: 0 5%;
  }

  .blog,
  .about {
    -webkit-clip-path: none;
    clip-path: none;
  }
}