h2 {
  font-weight: 400;
  font-size: 1.6rem;
}


.hero {
  position: absolute;
  z-index: 99;
}

.header {
  position: relative;
  min-height: 100vh;
  /* display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
  padding: 22vh 15%;
  background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 427L82 459L164 416L245 353L327 400L409 465L491 359L573 456L655 371L736 364L818 373L900 414L900 601L818 601L736 601L655 601L573 601L491 601L409 601L327 601L245 601L164 601L82 601L0 601Z' fill='%230070f3'%3E%3C/path%3E%3Cpath d='M0 484L82 495L164 463L245 484L327 470L409 500L491 507L573 415L655 464L736 483L818 488L900 506L900 601L818 601L736 601L655 601L573 601L491 601L409 601L327 601L245 601L164 601L82 601L0 601Z' fill='%230051aa'%3E%3C/path%3E%3Cpath d='M0 516L82 560L164 512L245 493L327 508L409 517L491 565L573 524L655 515L736 530L818 553L900 549L900 601L818 601L736 601L655 601L573 601L491 601L409 601L327 601L245 601L164 601L82 601L0 601Z' fill='%23003366'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
}

.mountains {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
}

section {
  padding: 10% 0;
  /* min-height: 90vh; */
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -1 !important;
}

a {
  color: inherit;
  transition: 0.25s ease all;
  /* text-decoration: none; */
}

a:hover {
  color: orange;
}

* {
  box-sizing: border-box;
}

.resume {
  transform: rotate(2deg);
  border: none;
  outline: none;
  pointer-events: none;
}

.resume:hover {
  cursor: pointer;
}

.container {
  min-height: 100vh;
  /* padding: 4rem 5%; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts {
  padding: 0 4%;
}


.title a {
  color: #1565c0;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: 500;
  text-align: left;
}


.description {
  line-height: 1.5;
  font-size: 1.15rem;
  font-weight: 300;
  white-space: pre-line;
  letter-spacing: 0.2rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

/* 
.skills {
  flex: 1;
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15%;
} */

.topics {
  width: 375px;
  min-width: 375px;
  align-self: flex-start;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* max-width: 1200px; */
}

.projects {
  width: 90%;
  max-width: 1200px;
  margin: 5rem 0;
}

.clearfilter:hover {
  cursor: pointer;
  color: orange;
}

.inline {
  align-items: center;
  line-height: 6px;
  padding: 0;
  margin: 0px 7.5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* .tool:hover > img {
  visibility: hidden;
} */
/* .tool:hover > i {
  visibility:hidden;
} */

.topic {
  /* background-color: rgb(33, 33, 33); */
  background-color: #051527;
  color: #1a74dc;
  padding: 0px 12px !important;
  margin: 2px;
  border-radius: 25px;
  font-weight: 600;
  transition: all ease 0.25s;
}


.topic:hover {
  cursor: pointer;
  background-color: #1a74dc;
  color: white;
}

.linkbtn {
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #051527;
  color: orange;
  padding: 6px 16px !important;
  border-radius: 40px;
  transition: all ease 0.25s;
  border: 2px solid orange;
}

.linkbtn:hover {
  background-color: orange;
  color: whitesmoke;
  cursor: pointer;
}

.blogcard {
  height: 320px;
  width: 320px;
  margin: 1rem;
  max-width: 320px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: rgba(10, 10, 10, 0.75);
}

.card {
  height: 275px;
  width: 320px;
  max-width: 320px;
  margin: 1rem;
  background-color: black;
  opacity: 0.9;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  position: relative;
}

.card:hover,
.card:focus,
.card:active {
  color: orange;
  border-color: orange;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.repo-lang {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}


.toolkit {
  display: flex;
  --s: 80px;
  /* size  */
  --m: 6px;
  /* margin */
  --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px);
}

/* .tools:hover .tool:not(:hover) {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  opacity: 0.8;
} */

.tools:hover .tool:not(:hover) .toolicon {
  z-index: 1;
}

.tools {
  /* margin: 0 30%; */
  margin-left: 30.5%;
  margin-right: 29%;
}

.tools::before {
  content: "";
  width: calc(var(--s) / 1.7 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}

.toolicon {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.5s;
}

.tool {
  width: calc(var(--s) * 1.1547);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-block;
  /* clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%); */
  background-color: white;
  border-radius: 50%;
  margin-bottom: calc(var(--m) - var(--s) * 0.2886);
  /* some negative margin to create overlap */
  cursor: pointer;
  font-size: 300%;
  background-color: whitesmoke;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: all ease 0.4s;
}

.tool:hover {
  /* width: calc(var(--s) * 1.5);
  height: calc(var(--s) * 1.5); */
  transform: scale(1.25);
  box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.5);
}

.tool:hover .toolicon {
  transform: scale(125%);
  z-index: 999;
}

/* Interests */
.interests {
  /* border: 1px solid lightgrey;
  border-radius: 50px; */
  box-sizing: border-box;
  padding: 1px;
  max-width: 375px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}

.interestitem {
  margin: 5px;
  background-color: #0070f3;
  padding: 5px;
  border-radius: 6px;
  color: white;
}

.aboutbottom {

  width: 100vw;
  height: 250px;
  position: relative;
  /* bottom: 10px; */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url("data:image/svg+xml,%0A%3Csvg id='visual' viewBox='0 0 900 100' width='900' height='100' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 69L10.7 69.2C21.3 69.3 42.7 69.7 64.2 67.3C85.7 65 107.3 60 128.8 61.5C150.3 63 171.7 71 193 66.8C214.3 62.7 235.7 46.3 257 43.3C278.3 40.3 299.7 50.7 321.2 52C342.7 53.3 364.3 45.7 385.8 48.8C407.3 52 428.7 66 450 70C471.3 74 492.7 68 514.2 64.8C535.7 61.7 557.3 61.3 578.8 57.5C600.3 53.7 621.7 46.3 643 49C664.3 51.7 685.7 64.3 707 70.5C728.3 76.7 749.7 76.3 771.2 73.3C792.7 70.3 814.3 64.7 835.8 63.2C857.3 61.7 878.7 64.3 889.3 65.7L900 67L900 0L889.3 0C878.7 0 857.3 0 835.8 0C814.3 0 792.7 0 771.2 0C749.7 0 728.3 0 707 0C685.7 0 664.3 0 643 0C621.7 0 600.3 0 578.8 0C557.3 0 535.7 0 514.2 0C492.7 0 471.3 0 450 0C428.7 0 407.3 0 385.8 0C364.3 0 342.7 0 321.2 0C299.7 0 278.3 0 257 0C235.7 0 214.3 0 193 0C171.7 0 150.3 0 128.8 0C107.3 0 85.7 0 64.2 0C42.7 0 21.3 0 10.7 0L0 0Z' fill='%23009688'%3E%3C/path%3E%3Cpath d='M0 22L10.7 24C21.3 26 42.7 30 64.2 33.2C85.7 36.3 107.3 38.7 128.8 41.3C150.3 44 171.7 47 193 45.7C214.3 44.3 235.7 38.7 257 39.2C278.3 39.7 299.7 46.3 321.2 48.2C342.7 50 364.3 47 385.8 42.8C407.3 38.7 428.7 33.3 450 35C471.3 36.7 492.7 45.3 514.2 45.8C535.7 46.3 557.3 38.7 578.8 36.7C600.3 34.7 621.7 38.3 643 37.5C664.3 36.7 685.7 31.3 707 29.8C728.3 28.3 749.7 30.7 771.2 34.5C792.7 38.3 814.3 43.7 835.8 47C857.3 50.3 878.7 51.7 889.3 52.3L900 53L900 0L889.3 0C878.7 0 857.3 0 835.8 0C814.3 0 792.7 0 771.2 0C749.7 0 728.3 0 707 0C685.7 0 664.3 0 643 0C621.7 0 600.3 0 578.8 0C557.3 0 535.7 0 514.2 0C492.7 0 471.3 0 450 0C428.7 0 407.3 0 385.8 0C364.3 0 342.7 0 321.2 0C299.7 0 278.3 0 257 0C235.7 0 214.3 0 193 0C171.7 0 150.3 0 128.8 0C107.3 0 85.7 0 64.2 0C42.7 0 21.3 0 10.7 0L0 0Z' fill='%23017a54'%3E%3C/path%3E%3Cpath d='M0 13L10.7 12.3C21.3 11.7 42.7 10.3 64.2 11C85.7 11.7 107.3 14.3 128.8 16.2C150.3 18 171.7 19 193 20C214.3 21 235.7 22 257 22.7C278.3 23.3 299.7 23.7 321.2 25.8C342.7 28 364.3 32 385.8 34.3C407.3 36.7 428.7 37.3 450 33C471.3 28.7 492.7 19.3 514.2 15.8C535.7 12.3 557.3 14.7 578.8 17.3C600.3 20 621.7 23 643 25.7C664.3 28.3 685.7 30.7 707 29C728.3 27.3 749.7 21.7 771.2 21.8C792.7 22 814.3 28 835.8 28.2C857.3 28.3 878.7 22.7 889.3 19.8L900 17L900 0L889.3 0C878.7 0 857.3 0 835.8 0C814.3 0 792.7 0 771.2 0C749.7 0 728.3 0 707 0C685.7 0 664.3 0 643 0C621.7 0 600.3 0 578.8 0C557.3 0 535.7 0 514.2 0C492.7 0 471.3 0 450 0C428.7 0 407.3 0 385.8 0C364.3 0 342.7 0 321.2 0C299.7 0 278.3 0 257 0C235.7 0 214.3 0 193 0C171.7 0 150.3 0 128.8 0C107.3 0 85.7 0 64.2 0C42.7 0 21.3 0 10.7 0L0 0Z' fill='%231b5e20'%3E%3C/path%3E%3C/svg%3E");
}

.abouttop {
  /* background-color: yellow; */
  width: 100vw;
  height: 100vh;
  position: absolute;
  /* bottom: -120px; */
  top: 5px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-image: url("data:image/svg+xml,%0A%3Csvg id='visual' viewBox='0 0 900 675' width='900' height='675' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 541L39 474L78 563L117 602L157 610L196 653L235 474L274 596L313 583L352 484L391 601L430 547L470 559L509 585L548 621L587 535L626 660L665 612L704 543L743 503L783 636L822 661L861 654L900 553L900 676L861 676L822 676L783 676L743 676L704 676L665 676L626 676L587 676L548 676L509 676L470 676L430 676L391 676L352 676L313 676L274 676L235 676L196 676L157 676L117 676L78 676L39 676L0 676Z' fill='%23009688'%3E%3C/path%3E%3Cpath d='M0 577L39 608L78 544L117 662L157 644L196 667L235 531L274 673L313 602L352 587L391 639L430 626L470 627L509 555L548 666L587 559L626 638L665 598L704 581L743 546L783 536L822 665L861 587L900 612L900 676L861 676L822 676L783 676L743 676L704 676L665 676L626 676L587 676L548 676L509 676L470 676L430 676L391 676L352 676L313 676L274 676L235 676L196 676L157 676L117 676L78 676L39 676L0 676Z' fill='%23017a54'%3E%3C/path%3E%3Cpath d='M0 605L39 673L78 630L117 624L157 582L196 654L235 644L274 609L313 573L352 649L391 667L430 670L470 588L509 661L548 578L587 637L626 576L665 646L704 601L743 641L783 578L822 596L861 642L900 595L900 676L861 676L822 676L783 676L743 676L704 676L665 676L626 676L587 676L548 676L509 676L470 676L430 676L391 676L352 676L313 676L274 676L235 676L196 676L157 676L117 676L78 676L39 676L0 676Z' fill='%231b5e20'%3E%3C/path%3E%3C/svg%3E");
}

.about {
  /* background-color: #1565C0; */
  background-color: #1b5e20;
  padding-bottom: 5%;
}

.aboutpics {
  max-width: 375px;
  text-align: center;
}

.aboutblurb {
  background-color: whitesmoke;
  font-family: 'Gloria Hallelujah';
  color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 420px;
  border-radius: 3px;
  width: 340px;
  font-size: 1.2rem;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.aboutbg {
  background-color: #000;
  width: 100%;
  min-height: 80%;
  border-radius: 2px;
  /* object-fit: fill; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  filter: grayscale(30%);
}


.aboutpicsm {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  height: 54px;
  width: 42px;
  min-width: 42px;
  background-color: whitesmoke;
  border-radius: 1px;
  margin: 5px;
  padding: 3px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.25s;
}

.aboutpicselect {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 375px;
  flex-wrap: wrap;
}

.aboutpicselect>div:hover {
  cursor: pointer;
}

.aboutpic {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  padding: 20px;
  height: 420px;
  border-radius: 3px;
  width: 340px;
  background-color: whitesmoke;
  overflow: hidden;
  position: relative;
  transition: all ease 0.25s;
}

.aboutpicname {
  font-family: 'Gloria Hallelujah';
  /* font-family: 'Courier New', Courier, monospace; */
  color: #212121;
  filter: blur(0.2px);
  margin-top: 20px;
}


.blog {
  width: 100vw;
  min-height: 80vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='600' preserveAspectRatio='none' viewBox='0 0 1440 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1114%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c197 C 96%2c238.2 288%2c416.8 480%2c403 C 672%2c389.2 768%2c141.6 960%2c128 C 1152%2c114.4 1344%2c293.6 1440%2c335L1440 600L0 600z' fill='rgba(0%2c 51%2c 102%2c 0.9)'%3e%3c/path%3e%3cpath d='M 0%2c574 C 96%2c507.2 288%2c266.4 480%2c240 C 672%2c213.6 768%2c442 960%2c442 C 1152%2c442 1344%2c280.4 1440%2c240L1440 600L0 600z' fill='rgba(0%2c 112%2c 243%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1114'%3e%3crect width='1440' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: top center;
  background-size: cover;
  background-position: top;
}



@media screen and (max-width: 1920px) {
  .tools {
    margin-left: 20%;
    margin-right: 18%;
  }

}

@media screen and (max-width: 750px) {

  .topics {
    width: 100%;
    align-self: center;
  }

  .tools {
    margin-left: 9%;
    margin-right: 1%;
  }
}


@media screen and (max-width: 600px) {

  .header {
    background-attachment: unset;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }

  .interests {
    margin: 0 5%;
  }

  .inline {
    flex-wrap: wrap;
    flex-direction: column;
  }

  section {
    padding: 35% 0;
  }

  /* .toolkit {
    background-image: none;
  } */

  .description {
    font-size: 0.66rem;
  }

}