html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h2 {
  font-weight: 400;
  font-size: 1.6rem;
}


.headerbg {
  /* background-color: yellow; */
  width: 100vw;
  height: 200px;
  position: absolute;
  bottom: -10px;
  /* bottom: ; */
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='100' preserveAspectRatio='none' viewBox='0 0 1920 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1040%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c75 C 64%2c64.8 192%2c20.4 320%2c24 C 448%2c27.6 512%2c92.4 640%2c93 C 768%2c93.6 832%2c34.8 960%2c27 C 1088%2c19.2 1152%2c53.6 1280%2c54 C 1408%2c54.4 1472%2c25.4 1600%2c29 C 1728%2c32.6 1856%2c63.4 1920%2c72L1920 100L0 100z' fill='rgba(21%2c 101%2c 192%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1040'%3e%3crect width='1920' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.header {
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 0 15%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23003366' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%230070f3' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2300376e' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%230071f5' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23003b76' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%230072f8' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23003f7e' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%230074fa' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23004386' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%230075fd' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2300478e' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%230076ff' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
}

.mountains {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
}

section {
  padding: 10% 0;
  /* min-height: 90vh; */
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -1 !important;
}

a {
  color: inherit;
  transition: 0.25s ease all;
  /* text-decoration: none; */
}

a:hover {
  color: orange;
}

* {
  box-sizing: border-box;
}

.resume {
  transform: rotate(2deg);
  border: none;
  outline: none;
  pointer-events: none;
}

.resume:hover {
  cursor: pointer;
}

.container {
  min-height: 100vh;
  /* padding: 4rem 5%; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts {
  padding: 0 4%;
}


.title a {
  color: #1565c0;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: 500;
  text-align: left;
}


.description {
  line-height: 1.5;
  font-size: 1.15rem;
  font-weight: 300;
  white-space: pre-line;
  letter-spacing: 0.2rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

/* 
.skills {
  flex: 1;
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15%;
} */

.topics {
  width: 375px;
  min-width: 375px;
  align-self: flex-start;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* max-width: 1200px; */
}

.projects {
  width: 90%;
  max-width: 1200px;
  margin: 5rem 0;
}

.clearfilter:hover {
  cursor: pointer;
  color: orange;
}

.inline {
  align-items: center;
  line-height: 6px;
  padding: 0;
  margin: 0px 7.5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* .tool:hover > img {
  visibility: hidden;
} */
/* .tool:hover > i {
  visibility:hidden;
} */

.topic {
  /* background-color: rgb(33, 33, 33); */
  background-color: #051527;
  color: #1a74dc;
  padding: 0px 12px !important;
  margin: 2px;
  border-radius: 25px;
  font-weight: 600;
  transition: all ease 0.25s;
}


.topic:hover {
  cursor: pointer;
  background-color: #1a74dc;
  color: white;
}

.linkbtn {
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #051527;
  color: orange;
  padding: 6px 16px !important;
  border-radius: 40px;
  transition: all ease 0.25s;
  border: 2px solid orange;
}

.linkbtn:hover {
  background-color: orange;
  color: whitesmoke;
  cursor: pointer;
}

.blogcard {
  height: 320px;
  width: 320px;
  margin: 1rem;
  max-width: 320px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: rgba(10, 10, 10, 0.75);
}

.card {
  height: 275px;
  width: 320px;
  max-width: 320px;
  margin: 1rem;
  background-color: black;
  opacity: 0.9;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  position: relative;
}

.card:hover,
.card:focus,
.card:active {
  color: orange;
  border-color: orange;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.repo-lang {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.toolkit {
  display: flex;
  --s: 80px;
  /* size  */
  --m: 6px;
  /* margin */
  --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px);
}

/* .tools:hover .tool:not(:hover) {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  opacity: 0.8;
} */

.tools:hover .tool:not(:hover) .toolicon {
  z-index: 1;
}

.tools {
  /* margin: 0 30%; */
  margin-left: 30.5%;
  margin-right: 29%;
}

.tools::before {
  content: "";
  width: calc(var(--s) / 1.7 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}

.toolicon {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.5s;
}

.tool {
  width: calc(var(--s) * 1.1547);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-block;
  /* clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%); */
  background-color: white;
  border-radius: 50%;
  margin-bottom: calc(var(--m) - var(--s) * 0.2886);
  /* some negative margin to create overlap */
  cursor: pointer;
  font-size: 300%;
  background-color: whitesmoke;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: all ease 0.4s;
}

.tool:hover {
  /* width: calc(var(--s) * 1.5);
  height: calc(var(--s) * 1.5); */
  transform: scale(1.25);
  box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.5);
}

.tool:hover .toolicon {
  transform: scale(125%);
  z-index: 999;
}

/* Interests */
.interests {
  /* border: 1px solid lightgrey;
  border-radius: 50px; */
  box-sizing: border-box;
  padding: 1px;
  max-width: 375px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}

.interestitem {
  margin: 5px;
  background-color: #0070f3;
  padding: 5px;
  border-radius: 6px;
  color: white;
}

.aboutbottom {

  width: 100vw;
  height: 150px;
  position: relative;
  bottom: 10px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  transform: scaleY(-1);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='100' preserveAspectRatio='none' viewBox='0 0 1440 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1072%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c5 C 72%2c15.8 216%2c56.6 360%2c59 C 504%2c61.4 576%2c10.6 720%2c17 C 864%2c23.4 936%2c87 1080%2c91 C 1224%2c95 1368%2c47.8 1440%2c37L1440 100L0 100z' fill='rgba(21%2c 101%2c 192%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1072'%3e%3crect width='1440' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.about {
  background-color: #1565C0;
  width: 100vw;
  padding-bottom: 5%;
}

.aboutpics {
  max-width: 375px;
  text-align: center;
}

.aboutblurb {
  background-color: whitesmoke;
  font-family: 'Gloria Hallelujah';
  color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 420px;
  border-radius: 3px;
  width: 340px;
  font-size: 1.2rem;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.aboutbg {
  background-color: #000;
  width: 100%;
  min-height: 80%;
  border-radius: 2px;
  /* object-fit: fill; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  filter: grayscale(30%);
}


.aboutpicsm {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  height: 54px;
  width: 42px;
  min-width: 42px;
  background-color: whitesmoke;
  border-radius: 1px;
  margin: 5px;
  padding: 3px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.25s;
}

.aboutpicselect {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 375px;
  flex-wrap: wrap;
}

.aboutpicselect>div:hover {
  cursor: pointer;
}

.aboutpic {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  padding: 20px;
  height: 420px;
  border-radius: 3px;
  width: 340px;
  background-color: whitesmoke;
  overflow: hidden;
  position: relative;
  transition: all ease 0.25s;
}

.aboutpicname {
  font-family: 'Gloria Hallelujah';
  /* font-family: 'Courier New', Courier, monospace; */
  color: #212121;
  filter: blur(0.2px);
  margin-top: 20px;
}


.blog {
  width: 100vw;
  min-height: 80vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='600' preserveAspectRatio='none' viewBox='0 0 1440 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1114%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c197 C 96%2c238.2 288%2c416.8 480%2c403 C 672%2c389.2 768%2c141.6 960%2c128 C 1152%2c114.4 1344%2c293.6 1440%2c335L1440 600L0 600z' fill='rgba(0%2c 51%2c 102%2c 0.9)'%3e%3c/path%3e%3cpath d='M 0%2c574 C 96%2c507.2 288%2c266.4 480%2c240 C 672%2c213.6 768%2c442 960%2c442 C 1152%2c442 1344%2c280.4 1440%2c240L1440 600L0 600z' fill='rgba(0%2c 112%2c 243%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1114'%3e%3crect width='1440' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: top center;
  background-size: cover;
  background-position: top;
}



@media screen and (max-width: 1920px) {
  .tools {
    margin-left: 20%;
    margin-right: 18%;
  }

}

@media screen and (max-width: 750px) {

  .topics {
    width: 100%;
    align-self: center;
  }

  .tools {
    margin-left: 9%;
    margin-right: 1%;
  }
}


@media screen and (max-width: 600px) {

  .header {
    background-attachment: unset;
  }

  .about {
    padding-top: 20%;
  }

  .headerbg {
    bottom: -120px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='100' preserveAspectRatio='none' viewBox='0 0 1920 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1049%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c16 C 35%2c26.8 105%2c65.8 175%2c70 C 245%2c74.2 280%2c36.4 350%2c37 C 420%2c37.6 455%2c72.6 525%2c73 C 595%2c73.4 630%2c43.4 700%2c39 C 770%2c34.6 805%2c56.8 875%2c51 C 945%2c45.2 980%2c1.6 1050%2c10 C 1120%2c18.4 1155%2c90.2 1225%2c93 C 1295%2c95.8 1330%2c23.4 1400%2c24 C 1470%2c24.6 1505%2c93.4 1575%2c96 C 1645%2c98.6 1681%2c39.6 1750%2c37 C 1819%2c34.4 1886%2c73.8 1920%2c83L1920 100L0 100z' fill='rgba(21%2c 101%2c 192%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1049'%3e%3crect width='1920' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .interests {
    margin: 0 5%;
  }

  .inline {
    flex-wrap: wrap;
    flex-direction: column;
  }

  section {
    padding: 35% 0;
  }

  .toolkit {
    background-image: none;
  }

  .description {
    font-size: 0.66rem;
  }

}