html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  /* --textLink: blue; */
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: black;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  /* --textLink: yellow; */
  --hr: hsla(0, 0%, 100%, 0.2);
  color: white;
}

hr.dark {
  color: black;
}

h2 {
  text-align: center;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: black;
  height: 1px;
}

footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: white;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  line-height: normal;
  visibility: hidden;
  min-width: 150px;
  background-color: rgb(80, 80, 80);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  padding: 5px 10px;
  left: 50%;
  margin-left: -75px
}

.tooltiptop {
  z-index: 1;
  bottom: 110%;
}

.tooltipbtm {
  top: 95%
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

circle {
  cursor: pointer;
}